.login_page_container {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	align-items: center;
	justify-content: center;

	background-color: var(--color-background);
}

.login_page_container > h1 {
	font-size: large;
	color: var(--color-primary);
}

.login_page_container > h2 {
	font-size: small;
	font-style: italic;

	color: var(--color-accent);
}
