@import "tailwindcss";

@theme {
  --color-primary: #1cca5b;
  --color-secondary: #3c83f6;
  --color-purple: #7a3ff2;
  --color-black: #1e293b;
  --color-gray: #475569;
}

body {
  font-family: "Montserrat", sans-serif;
}
